.post {
    border: 2px solid gray;
    margin-top: 20px;
    padding: 15px;
    box-shadow: 5px 5px;
}

.btn-sm {
    margin: 5px 5px 5px 0;
}

.btn-danger {
    margin: 5px 0 5px 10px;
}

.comments-container {
    display: none;
}
.postOption{
    font-size: 25px;
    /* padding: 10px; */

}

.remove-post,.remove-comment{
    float: right;
    color:red;
}
.toggle-comments{
    float: left;
    /* margin-top: -10px */
}
.postText{
font-size: 20px;
text-align: center
}
input{margin: 5px}